### Question 1

In [2]:
2+5 
#this give the sum of 2 and 5

7

In [3]:
2 + 5 
#this also gives the sum of 2 and 5, as spaces make no difference here

7

In [4]:
2*5
#this gives the product of 2 and 5

10

In [5]:
2/5
#this give the quotient of 2 and 5 expressed as a float

0.4

In [6]:
2**5
#this raises 2 to the power 5

32

### Question 2

In [7]:
x = 7
x = x+3
#the vlue of x is 10 (7+3) because the first line is executed, making x = 7, 
#and then the second like is executed with the value on of x on the right hand side equal to 7

### Question 3

In [8]:
x = 3
y = x
x = 10
#the value of y is three because the code is executed in order. x = 3, not 10, when y is defined.

### Question 4

In [9]:
x = 3
x = x/2
y = 'abc'
z = y+y
print(x,z)
#the code print without error.
#It prints the value of x (3/2), and the value of z (the string, abcabc)

1.5 abcabc

### Question 5

In [ ]:
x=3
x=x/2
y='abc'
z=x+y
print(x,z)
#The code does not run without error
#You are unable to add a x and y to define z because they are different types
#x is a float, and y is a string

### Question 6

In [13]:
x=3
y=24
z=y/x
print(x,y,z, sep=' | ')
#this code runs without error
#it prints the defined values of x and y and z (which is 24/8)
#each value is separated by ' | '

3 | 24 | 8.0

### Question 7

In [ ]:
x=3
y='24'
z=y/x
print(x,z)
#this code does not run without error
#the value of y (24) is defined as a string becuase of the use of inverted commas
#this means that z cannot be defined because y and x are different types
#x,z is therefor unable to be printed

### Question 8

In [20]:
x = "I am a #string" #Whoa, a string!
#this code runs without error
#this code defines the variable x as the string I am a #string
#Woah, a string! does not have any impact on the code as it is simply a comment
#the # after string does not make it a comment becasue it is contained within the inverted commas

### Question 9

In [21]:
x = [1, 2, 3]
y = [42, 43]
z = [x+y]
print(z)
#This code runs without error
#it produces z, which is a list made by combining the x and y lists

[[1, 2, 3, 42, 43]]

### Question 10

In [ ]:
x = [1, 2, 3]
y = 42
z = x + y
#This codes does not run without error
# unable to add x and y because they are of different types, x is a list and y is an integer

### Question 11

In [ ]:
x1 = 12 #integer
x2 = 12.0 #float
x3 = '12.0' #string
x4 = [12] #list
x5 = [12, 12.0, '12.0'] #list

### Question 12

In [38]:
type(42) #an integer
type(42.0) #a float
type('42.0') #a string
type("42.0") #a string
type("""42.0""") #a strring
type([1,2]) #a list
type([1] + [2]) #a list
type(1+2) #an integer
type(print) #a built in function or metion because print is a command in python

builtin_function_or_method

### Question 13

In [41]:
type(float(str(int('1234'))))
#take 1234 which is a string because it is in inverted commas
#the this string is converted to an integer
#this integer is then converted to a string
#this string is then converted to a float
#the result is float because this is the last type that the original item is made to be

float

### Question 14

In [44]:
type(int(float('12.34')))
#12.34 is a string that is made into a string
#this string is converted to a float
#this float is then converted to an integer
#the result is int. (short for integer) as converting it to an integer this is the last operation that is performed on the object

int

### Question 15

In [ ]:
len([1234]) #the result is 1 because there is 1 item (1234) in the list
len("1234") #the result is 4, because there are 4 character in the string
len(1234) #produces an error because integers do not have lengths

### Question 16

In [56]:
x = []
#x is a list with lenth 0

### Question 17

In [60]:
x = 'abcde'
list1=[x]
#the list contains the string 'abcde' and looks like ['abcde']

### Question 18

In [90]:
x = 1234
x = float(x)
x = str(x)
x = [x[0], x[1], x[2], x[3]]
x

['1', '2', '3', '4']

### Question 19

In [92]:
x = "luke, i am your father"

In [93]:
x.title()

'Luke, I Am Your Father'

### Question 20

In [163]:
x = "How many characters and words are in this string?"

In [164]:
len(x)

49

In [ ]:
#x contains 49 characters

In [165]:
x=list(x)
x = ''.join(x)

In [166]:
x = x.rsplit()
x

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [167]:
len(x)

9

In [ ]:
#x contains 9 words

### Question 21

In [134]:
#this assignment took me approximately 2 hours